{
    "env": {
        "development": {
            "presets": ["react-app", "env"],
            "plugins": ["transform-class-properties"]
        },
        "test": {
          "presets": ["env", "react-app"],
          "plugins": ["transform-class-properties"],
          "only": [
            "./**/*.js",
            "node_modules/jest-runtime"
          ]
      },
        "production": {
            "presets": [
                "react-app",
                [
                    "env",
                    {
                        "targets": {
                            "browsers": ["last 5 versions", "safari >= 7"],
                            "node": "current"
                        }
                    }
                ],
            ],
            "plugins": ["transform-class-properties"]
        }
    }
}
